<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css"
        integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<body style="background-color: black;">
    <nav class="navbar" style="background-color:aquamarine;">
        <p class="navbar-brand">Book Recommendation</p>
    </nav>
    <h1 style="font-size: 50px;text-align: center;">Top 4 movie</h1>
</body>
</html>