<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css"
        integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar" style="background-color:aquamarine;">
        <p class="navbar-brand">Book Recommendation</p>
    </nav>
    <h1 style="font-size: 50px;text-align: center;color: rgb(11, 95, 95);">Top 4 books</h1>
    <form style="margin-left: 400px;margin-top: 30px;" action='/recommend' method="GET">
        <label>Name of book:</label>
        <input type="text" id='book_title' placeholder="book_name" name="book_title" required></br>
        <input type="submit" value="Get recommendation">

    </form>

    <h2>Book List:</h2>
    <ul>
        {% for book in book_name %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
</body>
</html>